.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f7f7f7;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.footer__rights {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;

  color: #545454;

  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 4px;
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__text {
  font-size: 14px;
  line-height: 1.14;

  color: #545454;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.19;
  }
}

.footer__developed {
  margin-right: 10px;
}

.footer__icon {
  display: block;
  margin-right: 10px;
}

.footer__students--accent {
  text-decoration: underline;
}

.footer__students--accent:hover {
  cursor: pointer;
}
